<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Name Letters</title>
  </head>

  <body>
    <div class="container">
      <%if( result !== 0) {%>
      <h1>letters <%=result%> in your name.</h1>
      <% } else {%>
      <h1>Writ samething.</h1>
      <% }%>
      <!-- Write your code here -->
      <form action="/submit" method="POST">
        <input type="text" name="fName" placeholder="First name" />
        <input type="text" name="lName" placeholder="Last name" />
        <input type="submit" value="OK" />
      </form>
    </div>
  </body>
</html>
