<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h3>
            Hello my friend, you will have some fun
        </h3>
        <br>
        <hr>
        <section>
            <div class="form-container">
                <form action="/filter" method="post">
                    <div id="filter">
                        <div class="type-container">
                            <label for="typeSelect">Type:</label>
                            <select name="type" id="typeSelect">
                                <option value="">Random</option>
                                <option value="busywork">busywork</option>
                                <option value="recreational">recreational</option>
                                <option value="social">social</option> 
                                <option value="charity">charity</option>
                                <option value="cooking">cooking</option>
                                <option value="relaxation">relaxation</option>
                                
                            </select>
                        </div>
                        <div class="participants-container">
                            <label for="participantsSelect">Participants:</label>
                            <select name="participants" id="participantsSelect">
                                <option value="">Random Number</option>
                                <option value="1">1 Person</option>
                                <option value="2">2 People</option>
                                <option value="3">3 People</option>
                                <option value="4">4 People</option>
                                <option value="5">1 Person</option>
                                <option value="6">2 People</option>
                                <option value="7">3 People</option>
                                <option value="8">4 People</option>
                            </select>
                        </div>
                    </div>
                    <p>
                            <% if (data && data.activity) { %>
                            <%= data.activity %> 
                            <% } else if (data && data.error) { %>
                            Error: <%= data.error %>
                            <% } else { %>
                            Select your preferences to find a fun activity!
                            <% } %>
                                                
                        
                            <br>
                        
                    </p>
                    <div class="info">
                    <span>Type: <%= data.type %></span>
                    <span>Participants: <%= data.participants %></span>
                    </div>
                    <button type="submit" class="submit-btn">Find Activity</button>
                </form>
            </div>
        </section>
    </div>
</body>
</html>