<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <form action="/" method="post">
      <label for="name">your name is : </label>
      <input type="text" name="name" id="name" required />
    </form>
    <a href="contact.ejs"></a>
    <script src="../server/script.js"></script>
  </body>
</html>
