* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(239, 236, 232);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, 'sans-serif';
}
h1 {
  color: #333;
  text-align: center;
  margin: 20px 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  max-width: 50%;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
