<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>server</title>
</head>
<body>
    <h1>Hallo mein freund</h1>

    <p style="color: rgb(112, 127, 87);
    border: 2px solid;
    padding: 8px;
    border-radius: 12px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus placeat voluptatum enim labore quisquam eos quae pariatur impedit deleniti atque, cupiditate nisi maiores alias, dolor animi corrupti facere eum quas!
    </p>
    
</body>
</html>