<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Contact Result</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Contact Information</h1>

      <p>Hello, **<%= name %>**!</p>
      <p>You reached this page via: **<%= source %>**.</p>

      <hr />
      <a href="/">Go back to Home</a>
    </div>
  </body>
</html>
